<!DOCTYPE html>

{%extends 'main.html'%}


{%block body_block%}
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4"></div>
        <div class="col-4">
            <form action="" method="post">
                {%csrf_token%}
                {{form.as_p}}
                <button type="submit" class="btn btn-primary">search</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <table class="table">
                <tr>
                    <th>Mobile Name</th>
                    <th>Model</th>
                    <th>Company</th>
                    <th>Price</th>
                    <th>stock</th>
                    <th colspan="3" class="text-center">Actions</th>
                </tr>
                {%for mobile in mobiles%}
                    <tr>
                        <td>{{mobile.mobile_name}}</td>
                        <td>{{mobile.model}}</td>
                        <td>{{mobile.company}}</td>
                        <td>{{mobile.price}}</td>
                        <td>{{mobile.stock}}</td>
                        <td><a style="width:100%" href="{%url 'mobiledetails' mobile.id%}" class="btn btn-block btn-warning ">View</a></td>
                        <td><a style="width:100%" href="{%url 'updatemobile' mobile.id%}" class="btn btn-block btn-success">Update</a></td>
                        <td><a style="width:100%" href="{%url 'removemobile' mobile.id%}" class="btn btn-block btn-danger">Delete</a></td>
                    </tr>
                {%endfor%}
            </table>

        </div>
        <div class="col-2"></div>
    </div>
{%endblock%}