<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-4">

        </div>
        <div class="col-lg-6 pt-5">
            <a href="{%url 'add' %}" class="btn btn-outline-danger">Addition</a>
            <a href="{%url 'sub' %}" class="btn btn-outline-success">subtraction</a>
            <a href="{%url 'mul' %}" class="btn btn-outline-danger">multiplication</a>
            <a href="{%url 'div' %}" class="btn btn-outline-success">division</a>
            <a href="{%url 'cube' %}" class="btn btn-outline-danger">cube</a>

        </div>
    </div>
</div>
</body>
</html>