<!DOCTYPE html>
{%extends 'main.html'%}


{%block body_block%}
<h1 class="text-center">Book add</h1>
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <form action=" " method="post" , enctype="multipart/form-data">
                {%csrf_token%}
<!--                cross sit request forgery-->
                {{form.as_p}}
                <button type="submit" class="btn btn-lg btn-outline-primary">Add Book</button>
            </form>
        </div>

    </div>
</div>
{%endblock%}